%h2 プロジェクト一覧
%section
  - projects.each do |proj|
    %h3.project
      %a{ href: url("/projects/#{proj.id}/") } #{proj.name}
%h2 予定一覧
%section
  - schedules.each do |schedule|
    %h3.schedule
      %a{ href: url("/projects/#{schedule.project.id}/\#schedule-#{schedule.id}") }
        #{schedule.project.name} / #{schedule.name}
%h2 新規プロジェクトの作成
%section
  %form{ action: url('/projects/!add'), method: :post, name: 'add-project' }
    %p
      %input{ name: :name }
    %p
      %button.btn.btn-default{ type: :submit } プロジェクトを作成する

