%h2.project #{project.name}
:kramdown
  #{project.summary}
%form{ action: url("/api/projects/#{project.id}"), method: :post, name: 'edit-summary' }
  %input{ type: :hidden, name: :_method, value: :put }
  %input{ type: :hidden, name: :name, value: project.name }
  %textarea{ name: :summary }
    :preserve
      #{project.summary}
  %button{ type: :submit } 編集する
%h3 参加者
%ul
  != list_of project.users do |user|
    = user.name
    = surround '(', ')' do
      = user.email
%form{ action: url('/api/participations/'), method: :post, name: 'participate' }
  %input{ name: :name }
  %input{ name: :email, type: :email }
  %input{ name: :project_id, type: :hidden, value: project.id }
  %input{ name: :is_leader, type: :hidden, value: false }
  %button{ type: :submit } 参加登録する
%h3 予定
%ul
  != list_of project.schedules do |schedule|
    時間：
    = schedule.start
    &dash;
    = schedule.end
    ＠
    = schedule.place

